/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-nov-2014, 15:46:02
    Author     : ikLatorre
*/

body {
    margin: 0px;
}

#header {
    margin-bottom: 20px;
    background-color: #eaeaea;
    border-bottom: 1px solid black;
    padding: 1px;
}

#header h1 {
    margin: auto;
    font-size: 60px;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
}

#header a, #header a:active{
    color: inherit;
    text-decoration: none;
}

.menu, .menu2 {
    margin: auto;
    text-align: center;
}

.menu span, .menu input {
    display: block;
    font-size: 40px;
    font-family: 'Shadows Into Light', cursive;
}

.menu2 span, .menu2 input {
    display: block;
    font-size: 25px;
    font-family: 'Shadows Into Light', cursive;
}

.menu input[type='button'], .menu2 input[type='button'] {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px outset #006666;
    min-width: 200px;
    background-color: #00cfc1;
}
.menu input[type='button'] {
    height: 85px;
}

.menu2 input[type='button'] {
    height: 55px;
}

.menu input[type='button']:hover, .menu2 input[type='button']:hover {
    cursor: pointer;
    background-color: #00ebdc; 
}

.menu input[type='button']:active, .menu2 input[type='button']:active {
    cursor: pointer;
    border-style: inset;
    background-color: #00c6b9; 
}

#loading {
    height: 55px;
    width: 55px;
}
