/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-nov-2014, 15:46:02
    Author     : ikLatorre
*/

body {
    margin: 0px;
}

#header {
    margin-bottom: 20px;
    background-color: #eaeaea;
    border-bottom: 1px solid black;
    padding: 1px;
}

#header h1 {
    margin: auto;
    font-size: 60px;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
}

.menu {
    margin: auto;
    text-align: center;
}

.menu span, input {
    display: block;
    font-size: 40px;
    font-family: 'Shadows Into Light', cursive;
}

.menu input[type='button'] {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 5px solid black;
    height: 85px;
    min-width: 200px;
}

.menu input[type='button']:hover {
    cursor: pointer;
    background-color: aqua; 
}

#loading {
    height: 100px;
    width: 100px;
}
