/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-nov-2014, 15:46:02
    Author     : ikLatorre
*/

body {
    margin: 0px;
}

#header {
    margin-bottom: 20px;
    background-color: #eaeaea;
    border-bottom: 1px solid black;
    padding: 1px;
}

#header h1 {
    margin: auto;
    font-size: 60px;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
}

#form {
    text-align: center;
    margin: auto;
}

.tablero {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
}

.tablero th, .tablero td {
    background-color: #bbe4f8;
    border-radius: 30px;
    width: 80px;
    height: 80px;
    text-align: center;
}

.tablero span {
    font: 60px 'Fredoka One', cursive;
} 
